{% extends 'base.html.twig' %}

{% block title %}Backoffice - Connexion{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <section id="login-admin">

        <div id="home_fond"><img src="img/login_admin.png"></div>
        <h1 style="position: absolute; top: 250px; left: 100px; font-family: aventura; color: darkslategrey; background-color: whitesmoke; padding: 10px; border-radius: 7px">CONNEXION AU BACKOFFICE</h1>
        <div id="connexion">
            <form method="post" id="form_connexion">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}
                <div id="form_co1">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-4" placeholder="Email" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control col-4" placeholder="Mot de passe" required>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div id="form_co2">
                    <button id="btn_connexion" class="btn btn-lg btn-primary" type="submit">
                        CONNEXION
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
