


    <a href=" {{ path('next_round', {game:game.id}) }}" style="color: white">Passer au round suivant</a>


<div id="actions-nord">
    <img class="action_nord" src="{{ asset('img/actions/secret_nb.png') }}">
    <img class="action_nord" src="{{ asset('img/actions/depot_nb.png') }}">
    <img class="action_nord" src="{{ asset('img/actions/offre_nb.png') }}">
    <img class="action_nord" src="{{ asset('img/actions/echange_nb.png') }}">
</div>

<div id="deck-nord">

    {% for card in adversaire.handCards %}
        <img class="carte-objet" src="{{ asset('img/cartes/hidden.png') }}">
    {% endfor %}

</div>



<div id="nbs-cartes-nord">
    <div class="nb-carte-nord" id="nb1">
        <div class="indics">
            {% for carte in adversaire.board.KRULMO %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-nord" id="nb2">
        <div class="indics">
            {% for carte in adversaire.board.GANORMO %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-nord" id="nb3">
        <div class="indics">
            {% for carte in adversaire.board.RASDAR %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-nord" id="nb4">
        <div class="indics">
            {% for carte in adversaire.board.ARCADIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-nord" id="nb5">
        <div class="indics">
            {% for carte in adversaire.board.ASTRALIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-nord" id="nb6">
        <div class="indics">
            {% for carte in adversaire.board.THARUK %}
                <div class="indic"></div>
            {% endfor %}

        </div>
    </div>
    <div class="nb-carte-nord" id="nb7">
        <div class="indics">
            {% for carte in adversaire.board.SOFIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="cartes-persos">
    <div id="emp1" class="emp">
        {% if moi.majorites.KRULMO == 'lose'  %}
            <img class="pion pour-adversaire" id="pion1" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.KRULMO == 'egal'%}
            <img class="pion" id="pion1" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif  moi.majorites.KRULMO == 'win'%}
            <img class="pion pour-moi" id="pion1" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}


        <img class="carte-perso" src="{{ asset('img/cartes/krulmo.png') }}">
    </div>


    <div id="emp2" class="emp">
        {% if moi.majorites.GANORMO == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.GANORMO == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.GANORMO == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}

        <img class="carte-perso" src="{{ asset('img/cartes/ganormo.png') }}">
    </div>


    <div id="emp3" class="emp">
        {% if moi.majorites.RASDAR == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.RASDAR == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.RASDAR == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}
        <img class="carte-perso" src="{{ asset('img/cartes/rasdar.png') }}">
    </div>


    <div id="emp4" class="emp">
        {% if moi.majorites.ARCADIA == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.ARCADIA == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.ARCADIA == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}
        <img class="carte-perso" src="{{ asset('img/cartes/arcadia.png') }}">
    </div>


    <div id="emp5" class="emp">
        {% if moi.majorites.ASTRALIA == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.ASTRALIA == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.ASTRALIA == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}
        <img class="carte-perso" src="{{ asset('img/cartes/astralia.png') }}">
    </div>


    <div id="emp6" class="emp">
        {% if moi.majorites.THARUK == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.THARUK == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.THARUK == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}
        <img class="carte-perso" src="{{ asset('img/cartes/tharuk.png') }}">
    </div>


    <div id="emp7" class="emp">
        {% if moi.majorites.SOFIA == 'lose'  %}
            <img class="pion pour-adversaire" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.SOFIA == 'egal' %}
            <img class="pion" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% elseif moi.majorites.SOFIA == 'win'%}
            <img class="pion pour-moi" id="pion2" src="{{ asset('img/cartes/pion.png') }}" style="opacity: 0.9">
        {% endif %}
        <img class="carte-perso" src="{{ asset('img/cartes/sofia.png') }}">
    </div>


</div>

{% if round.pioche!= [] %}
    <div id="pioche"><img class="carte-pioche" src="{{ asset('img/cartes/hidden.png') }}">
        <button id="valider" style="display: none">Cacher la carte</button>
        <button id="valider-depot" style="display: none">Enlever ces cartes</button>
        <button id="valider-offre" style="display: none">Faire l'offre</button>
        <button id="valider-echange" style="display: none">Faire l'échange</button>
    </div>
{% endif %}

<div id="nbs-cartes-sud">
    <div class="nb-carte-sud" id="nb1">
        <div class="indics">
            {% for carte in moi.board.KRULMO %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-sud" id="nb2">
        <div class="indics">
            {% for carte in moi.board.GANORMO %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-sud" id="nb3">
        <div class="indics">
            {% for carte in moi.board.RASDAR%}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-sud" id="nb4">
        <div class="indics">
            {% for carte in moi.board.ARCADIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-sud" id="nb5">
        <div class="indics">
            {% for carte in moi.board.ASTRALIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
    <div class="nb-carte-sud" id="nb6">
        <div class="indics">
            {% for carte in moi.board.THARUK %}
                <div class="indic"></div>
            {% endfor %}

        </div>
    </div>
    <div class="nb-carte-sud" id="nb7">
        <div class="indics">
            {% for carte in moi.board.SOFIA %}
                <div class="indic"></div>
            {% endfor %}
        </div>
    </div>
</div>


<span id="mon-action"></span>
<div id="actions-sud">


        <img id="secret-disable" class="action_sud disable" src="{{ asset('img/actions/secret_nb.png') }}">



        <img id="depot-disable" class="action_sud disable" src="{{ asset('img/actions/depot_nb.png') }}">



        <img id="offre-disable" class="action_sud disable" src="{{ asset('img/actions/offre_nb.png') }}">



        <img id="echange-disable" class="action_sud disable" src="{{ asset('img/actions/echange_nb.png') }}">

    <div id="overlay-actions">
    </div>

</div>

<div id="deck-sud">

    {% for card in moi.handCards %}
        <div id="emplacementSud{{ loop.index }}">
            <img class="carte-objet" src="{{ asset('img/cartes/'~cards[card].picture) }}">

            <input type="radio" name="carte_secret" value="{{ card }}"
                   style="display: none"
                   class="choixSecret" id="secret{{ loop.index }}">

            <input type="checkbox" name="carte_depot_{{ card }}" value="{{ card }}"
                   style="display: none"
                   class="choixDepot" id="depot{{ loop.index }}">

            <input type="checkbox" name="carte_offre_{{ card }}" value="{{ card }}"
                   style="display: none"
                   class="choixOffre" id="offre{{ loop.index }}">

            <input type="checkbox" name="carte_echange_{{ card }}" value="{{ card }}"
                   style="display: none"
                   class="choixEchange" id="echange{{ loop.index }}">
        </div>
    {% endfor %}
</div>


{% if adversaire.actions.OFFRE.CartesChoisiesMoi != [] %}
    {% if adversaire.actions.OFFRE.CartesChoisiesAdversaire == [] %}
        <div class="overlay-big">
            <div id="popup-choix-offre" style="display: none">
                <h4 style="color:gold">Offre : choisissez une carte</h4>

                {%for card in adversaire.actions.OFFRE.CartesChoisiesMoi%}
                <img src="{{ asset('img/cartes/'~cards[card].picture) }}" style="width: 90px">{{ card }}
            <input type="radio" name="choix_adv_offre" value="{{ card }}"
                   class="choixAdvOffre" id="offre{{ loop.index }}">

                {% endfor %}<br><br>
                <button id="choisir" style="display: none">Choisir cette carte</button>
            </div>
        </div>
    {% endif %}
{% endif %}

    {% if adversaire.actions.ECHANGE.CartesChoisiesMoi.Paire1 != [] or adversaire.actions.ECHANGE.CartesChoisiesMoi.Paire2 != [] %}
        {% if adversaire.actions.ECHANGE.CartesChoisiesAdversaire == [] %}
            <div class="overlay-big">
                <div id="popup-choix-echange" style="display: none">
                    <h4 style="color:gold">Echange : choisissez une paire</h4>

                    <!-- PAIRE 1-->
                    {%for card in adversaire.actions.ECHANGE.CartesChoisiesMoi.Paire1%}
                        <img src="{{ asset('img/cartes/'~cards[card].picture) }}" style="width: 90px">

                    {% endfor %}
                    <input type="radio" name="choix_adv_echange" value="paire1"
                           class="choixAdvEchange" id="echange1">

                    <!-- PAIRE 2-->
                    {%for card in adversaire.actions.ECHANGE.CartesChoisiesMoi.Paire2%}
                        <img src="{{ asset('img/cartes/'~cards[card].picture) }}" style="width: 90px">

                    {% endfor %}
                    <input type="radio" name="choix_adv_echange" value="paire2"
                           class="choixAdvEchange" id="echange2"><br><br>

                    <button id="choisir-paire" style="display: none">Choisir cette paire</button>
                </div>
            </div>
        {% endif %}
    {% endif %}