<div class="row">
    <div class="col-8">

        {% for card in adversaire.handCards %}
            <img src="{{ asset('img/cartes/'~cards[card].picture) }}" style="width: 100px">
        {% endfor %}
    </div>
    <div class="col-4">
        Actions adversaire
    </div>
</div>


<div class="row">
    <img src="{{ asset('img/cartes/krulmo.png') }}" style="width: 150px; margin: 10px" alt="krulmo">
    <img src="{{ asset('img/cartes/ganormo.png') }}" style="width: 150px; margin: 10px" alt="ganormo">
    <img src="{{ asset('img/cartes/rasdar.png') }}" style="width: 150px; margin: 10px" alt="rasdar">
    <img src="{{ asset('img/cartes/arcadia.png') }}" style="width: 150px; margin: 10px" alt="arcadia">
    <img src="{{ asset('img/cartes/astralia.png') }}" style="width: 150px; margin: 10px" alt="astralia">
    <img src="{{ asset('img/cartes/tharuk.png') }}" style="width: 150px; margin: 10px" alt="tharuk">
    <img src="{{ asset('img/cartes/sofia.png') }}" style="width: 150px; margin: 10px" alt="sofia">
</div>
<div class="row">
    <div class="col-8">
        {% for card in moi.handCards %}
            <img src="{{ asset('img/cartes/'~cards[card].picture) }}" style="width: 100px">{{ card }}

            <input type="radio" name="carte_secret" value="{{ card }}"
                   style="display: none"
                   class="choixSecret">

            <input type="checkbox" name="carte_depot_{{ card }}" value="{{ card }}"
                   style="display: none"
                   class="choixDepot">

            <input type="checkbox" name="carte_offre_{{ card }}" value="{{ card }}"
                   style="display: none"
                   class="choixOffre">

        {% endfor %}
    </div>
    <div class="col-4">

        Mes Actions
        <button id="secret">Secret</button>
        <button  id="depot">Depot</button>
        <button  id="offre">Offre</button>
        <button  id="echange">Echange</button><br>
        <button id="valider" style="display: none">Valider action</button>
        <button id="valider-offre" style="display: none">Faire l'offre</button>
        {{ dump(adversaire.actions.OFFRE) }}



    </div>
</div>