{% extends 'base.html.twig' %}

{% block body %}

    <div id="plateau">
        {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
    </div>

    <div id="message">...</div>
    <button id="finDeTour">Fin de tour</button>
    <!--<button id="valider-echange">Valider échange</button>-->

{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    <script>

        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);
        })
        $(document).on('click', '#finDeTour', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{{ path('set_tour', {game: game.id}) }}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé');
                },
                error: function(){
                }
            })


            //FIN TEST

            //Bloquer le plateau (overlay, ...)
            //Relancer le timer...
           boucle = setInterval(refreshGame, 3000);
        })

        /*$(document).on('click', '#valider-echange', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{#  {{ path('set_tour', {game: game.id}) }}#}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé pour echange');
                },
                error: function(){
                }
            })

            boucle = setInterval(refreshGame, 3000);
        })*/


        function refreshGame() {
            console.log('ça tourne')
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('#message').html('Tour de votre adversaire')
                        $('#finDeTour').hide()
                        //rafraichir le plateau pour voir ce que mon adversaire fait
                    } else {
                        $('#message').html('C\'est mon tour...')
                        //mettre à jour le plateau, dès que je récupère true
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        clearInterval(boucle)
                        console.log('ça tourne plus')
                        $('#finDeTour').show()

                    }
                },
                error: function(){
                }
            })
        }
        let action
        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').show()
            $('#valider').show()
        })
        $(document).on('click', '#valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot':
                    break;
                case 'offre':
                    break;
                case 'echange':
                    break;
            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    if (data == true) {
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    }
                },
                error: function(){
                }
            })
        })
    </script>
{% endblock %}

