{% extends 'base.html.twig' %}
{% block title %}
    Jeu
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/plateau.css') }}">
    <h3>Manche n° {{ game.RoundEncours }}</h3>
    <div id="overlay-wait" style="display: none">
        <h3>En attente d'un adversaire</h3>
    </div>
    <div id="message">...</div>
        <div id="conteneur">

        <div id="plateau">

            {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}


        </div>


        </div>




    <!--<button id="finDeTour">Fin de tour</button>-->
    <!--<button id="valider-echange">Valider échange</button>-->

{% endblock %}



{% block javascripts %}
    <script>


    //PARTIE JOUABLILITE
        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);
        })


        //refresh game sert à surveiller toutes les 3 sec si couplé avec un set interval si c'est mon tour ou pas
        function refreshGame() {
            console.log('ça tourne')
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('#overlay-wait').hide()
                        $('#message').html('Tour de votre adversaire')


                        //rafraichir le plateau pour voir ce que mon adversaire fait
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#overlay-actions').show()
                    }else if(data == 'Pas adversaire'){
                        $('#overlay-wait').show()
                        $('#message').html('En attente d\'un adversaire ...')
                    }else if(data == true){
                        $('#overlay-wait').hide()
                        $('#message').html('C\'est mon tour...')


                        //Piocher une carte
                        setTimeout(function(){
                            $.ajax({
                                url: "{{ path('pioche', {game: game.id}) }}",
                            })

                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            setTimeout(function(){
                                $('#overlay-actions').hide()
                                $('#popup-choix-offre').show()
                                $('#popup-choix-echange').show()
                            },1300)

                        },1000)


                        //pour être sur, mettre à jour le plateau, dès que je récupère true



                        clearInterval(boucle)
                        console.log('ça tourne plus')

                        $('#finDeTour').show()

                    }else{
                        $('#overlay-wait').hide()
                        $('#message').html('Fin de la manche')


                        //Piocher une carte
                        setTimeout(function(){
                            $.ajax({
                                url: "{{ path('pioche', {game: game.id}) }}",
                            })

                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                            setTimeout(function(){
                                $('#overlay-actions').hide()
                                $('#popup-choix-offre').show()
                                $('#popup-choix-echange').show()
                            },1300)

                        },1000)


                        //pour être sur, mettre à jour le plateau, dès que je récupère true



                        clearInterval(boucle)
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        //obligé de recharger à balle et encore ça marche pas tout le temps
                        console.log('ça tourne plus et c\'est la fin de la manche')

                    }
                },
                error: function(){
                }
            });


        }


        /*LES 4 ACTIONS*/


        let action
        var selection_secret = false
        var selection_depot = false
        var selection_offre = false
        var selection_echange = false

    /*SECRET*/
        $(document).on('click', '#secret', function(){

            console.log('secret')
            action = 'secret' //mémorise l'action en cours

            $('.action_sud').css('transform', 'scale(1)')

             selection_depot = false
             selection_offre = false
             selection_echange = false
            if(selection_secret == false){

                $(this).css('transform', 'scale(1.1)')
                $('#mon-action').html('SECRET')

            }else{
                $(this).css('transform', 'scale(1)')
                $('#mon-action').html('')
            }
            selection_secret = !selection_secret

            $('.choixSecret').toggle()
            $('.choixDepot').hide()
            $('.choixOffre').hide()
            $('.choixEchange').hide()


        })

        $(document).on('click', '.choixSecret', function(){
            $('#valider').show()
        })
        /*FIN SECRET*/

        //DEPOT
        $(document).on('click', '#depot', function(){
            console.log('depot')
            action = 'depot' //mémorise l'action en cours
            $('.action_sud').css('transform', 'scale(1)')
            selection_secret = false
            selection_offre = false
            selection_echange = false

            if(selection_depot == false){

                $(this).css('transform', 'scale(1.1)')
                $('#mon-action').html('DÉPÔT')

            }else{
                $(this).css('transform', 'scale(1)')
                $('#mon-action').html('')
            }
            selection_depot= !selection_depot
            $('.choixDepot').toggle()
            $('.choixSecret').hide()
            $('.choixOffre').hide()
            $('.choixEchange').hide()

        })



        var click_depot = 0
        var num1= 0
        var num2 = 0
        $(document).on('click', '.choixDepot', function (){
            if($(this).is(':checked')){
                click_depot++;

                console.log('nb de click: '+click_depot)

                if(click_depot == 1){
                    num1 = $(this).val()
                    console.log('numero 1 : '+num1)
                }
                console.log(num1)
                if(click_depot == 2){
                    num2 = $(this).val()
                    console.log('numero 2 : '+num2)
                    console.log('carte 1: '+num1)
                    console.log('carte 2: '+num2)

                }
            }else{
                //On décoche une case
                if(click_depot==2){
                    if($(this).val()==num2){
                        num2=0

                    }else{
                        num1=num2
                        num2=0
                    }


                    console.log('nouveau numero 1: '+num1)
                }
                click_depot--;
                console.log('nb de click: '+click_depot)


            }

            if(click_depot!=2){
                $('#valider-depot').hide();
                $('.choixDepot').show()
            }else{
                $('#valider-depot').show();
                $('.choixDepot').hide()
                $('.choixDepot:checked').show()
            }

        })
        //FIN DEPOT

        //OFFRE COTÉ MOI
        $(document).on('click', '#offre', function(){
            console.log('offre')
            action = 'offre'
            $('.action_sud').css('transform', 'scale(1)')
            selection_secret = false
            selection_depot = false
            selection_echange = false

            if(selection_offre == false){

                $(this).css('transform', 'scale(1.1)')
                $('#mon-action').html('OFFRE')

            }else{
                $(this).css('transform', 'scale(1)')
                $('#mon-action').html('')
            }
            selection_offre = !selection_offre
            $('.choixOffre').toggle()
            $('.choixSecret').hide()
            $('.choixDepot').hide()
            $('.choixEchange').hide()

        })

        var click_offre = 0
        var numO_1= 0
        var numO_2 = 0
        var numO_3 = 0

        $(document).on('click', '.choixOffre', function (){
            if($(this).is(':checked')){
                click_offre++;

                console.log('nb de click: '+click_offre)

                if(click_offre == 1){
                    numO_1 = $(this).val()
                    console.log('numero 1 : '+numO_1)
                }
                console.log(numO_1)
                if(click_offre == 2){
                    numO_2 = $(this).val()
                    console.log('numero 2 : '+numO_2)
                    console.log('carte 1: '+numO_1)
                    console.log('carte 2: '+numO_2)

                }

                if(click_offre == 3){
                    numO_3 = $(this).val()
                    console.log('numero 3 : '+numO_3)
                    console.log('carte 1: '+numO_1)
                    console.log('carte 2: '+numO_2)
                    console.log('carte 3: '+numO_3)

                }
            }else{
                //Gérer quand on déselectionne un carte

                if(click_offre==3){
                    if($(this).val()==numO_3){
                        numO_3=0

                    }else if($(this).val()==numO_2){
                        numO_2=numO_3
                        numO_3=0
                    }else{
                        numO_1=numO_2
                        numO_2=numO_3
                        numO_3 = 0
                    }


                    console.log('nouveau numero 1: '+numO_1)
                    console.log('nouveau numero 2: '+numO_2)
                    console.log('nouveau numero 3: '+numO_3)
                }

                if(click_offre==2){
                    if($(this).val()==numO_2){
                        numO_2=0

                    }else{
                        numO_1=numO_2
                        numO_2=0
                    }


                    console.log('nouveau numero 1: '+numO_1)

                }
                click_offre--;
                console.log('nb de click: '+click_offre)


            }

            if(click_offre!=3){
                $('#valider-offre').hide();
                $('.choixOffre').show()
            }else{

                $('.choixOffre').hide()
                $('.choixOffre:checked').show()

                $('#valider-offre').show();
            }

        })

        //FIN OFFRE COTÉ MOI

        //OFFRE COTE ADVERSAIRE
        $(document).on('click', '#popup-choix-offre input', function(){
            $('#choisir').show()
        })



    //ECHANGE COTE ADVERSAIRE
    $(document).on('click', '#popup-choix-echange input', function(){
        $('#choisir-paire').show()
    })






    //ECHANGE COTE MOI
    $(document).on('click', '#echange', function(){
        console.log('echange')
        action = 'echange'
        $('.action_sud').css('transform', 'scale(1)')
        selection_secret = false
        selection_depot = false
        selection_offre = false

        if(selection_echange == false){

            $(this).css('transform', 'scale(1.1)')
            $('#mon-action').html('ÉCHANGE')

        }else{
            $(this).css('transform', 'scale(1)')
            $('#mon-action').html('')
        }
        selection_echange = !selection_echange
        $('.choixEchange').toggle()
        $('.choixSecret').hide()
        $('.choixDepot').hide()
        $('.choixOffre').hide()

    })


    var click_echange = 0
    var numE_1= 0
    var numE_2 = 0
    var numE_3 = 0
    var numE_4 = 0

    $(document).on('click', '.choixEchange', function (){
        if($(this).is(':checked')){
            click_echange++;

            console.log('nb de click: '+click_echange)

            if(click_echange == 1){
                $(this).css('background-color', 'orange')
                numE_1 = $(this).val()

            }
            console.log(numE_1)
            if(click_echange == 2){

                if(numE_1==0){
                    numE_1 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_2==0){
                    numE_2 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_3==0){
                    numE_3 = $(this).val()
                    $(this).css('background-color', 'green')
                }else{
                    numE_4 = $(this).val()
                    $(this).css('background-color', 'green')
                }

            }

            if(click_echange == 3){

                if(numE_1==0){
                    numE_1 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_2==0){
                    numE_2 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_3==0){
                    numE_3 = $(this).val()
                    $(this).css('background-color', 'green')
                }else{
                    numE_4 = $(this).val()
                    $(this).css('background-color', 'green')
                }

            }

            if(click_echange == 4){

                if(numE_1==0){
                    numE_1 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_2==0){
                    numE_2 = $(this).val()
                    $(this).css('background-color', 'orange')
                }else if(numE_3==0){
                    numE_3 = $(this).val()
                    $(this).css('background-color', 'green')
                }else{
                    numE_4 = $(this).val()
                    $(this).css('background-color', 'green')
                }


            }
        }else{
            //Gérer quand on déselectionne un carte
            $(this).css('background', 'none')

            if(click_echange==2){
                if($(this).val()==numE_3){
                    numE_3=0
                }else if($(this).val()==numE_2){
                    numE_2=0

                }else{
                    numE_1=numE_2
                    numE_2=0
                }



            }

            if(click_echange==3){
                if($(this).val()==numE_3){
                    numE_3=0

                }else if($(this).val()==numE_2){
                    numE_2=0
                }else if($(this).val()==numE_1){
                    numE_1=numE_2
                    numE_2=0

                }



            }

            if(click_echange==4){
                if($(this).val()==numE_4){
                    numE_4=0

                }else if($(this).val()==numE_3){
                    numE_3=numE_4
                    numE_4=0
                }else if($(this).val()==numE_2){
                    numE_2=0
                }else if($(this).val()==numE_1){
                    numE_1=numE_2
                    numE_2=0
                }

            }

            click_echange--;
            console.log('nb de click: '+click_echange)


        }
        console.log('carte 1: '+numE_1)
        console.log('carte 2: '+numE_2)
        console.log('carte 3: '+numE_3)
        console.log('carte 4: '+numE_4)

        if(click_echange!=4){
            $('#valider-echange').hide();
            $('.choixEchange').show()
        }else{

            $('.choixEchange').hide()
            $('.choixEchange:checked').show()

            $('#valider-echange').show();
        }

    })
        //FIN ECHANGE COTE MOI




        //VALIDATION DES ACTIONS
        //VALIDATION SECRET
        $(document).on('click', '#valider', function(){
            click_echange= 0;
            click_offre=0;
            click_depot=0;
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot': donneesAction = {

                    action: 'depot',
                    carte1: $('input[name="carte_depot_'+num1+'"]:checked').val(),
                    carte2: $('input[name="carte_depot_'+num2+'"]:checked').val()
                }
                    break;

            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {

                    if (data == true) {
                        console.log(donneesAction)
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    }
                },
                error: function(){
                }
            })

            setTimeout(function (){
                //on change de tour 1,5 sec arpès avoir fini l\'action
                $.ajax({
                    url: "{{ path('set_tour', {game: game.id}) }}",
                    method: 'POST',
                    success: function(data) {
                        console.log('le tour à changé');
                    },
                    error: function(){
                    }
                })

                boucle = setInterval(refreshGame, 3000);

            }, 1500)
        })

    //VALIDATION DEPOT
    $(document).on('click', '#valider-depot', function(){

        click_echange= 0;
        click_offre=0;
        click_depot=0;

            donneesAction = {

                action: 'depot',
                carte1: $('input[name="carte_depot_'+num1+'"]:checked').val(),
                carte2: $('input[name="carte_depot_'+num2+'"]:checked').val()
            }



        $.ajax({
            url: "{{ path('action_game', {game: game.id}) }}",
            data: donneesAction,
            method: 'POST',
            success: function(data) {

                if (data == true) {
                    console.log(donneesAction)
                    $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                }
            },
            error: function(){
            }
        })

        setTimeout(function (){
            //on change de tour 1,5 sec arpès avoir fini l\'action
            $.ajax({
                url: "{{ path('set_tour', {game: game.id}) }}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé');
                },
                error: function(){
                }
            })

            boucle = setInterval(refreshGame, 3000);

        }, 1500)
    })



            //VALIDATION OFFRE
            $(document).on('click', '#valider-offre', function() {

                click_echange= 0;
                click_offre=0;
                click_depot=0;
                donneesAction = {

                    action: 'offre',
                    carte1: $('input[name="carte_offre_'+numO_1+'"]:checked').val(),
                    carte2: $('input[name="carte_offre_'+numO_2+'"]:checked').val(),
                    carte3: $('input[name="carte_offre_'+numO_3+'"]:checked').val()
                }

                $.ajax({
                    url: "{{ path('action_game', {game: game.id}) }}",
                    data: donneesAction,
                    method: 'POST',
                    success: function(data) {
                        //on refresh le plateau
                        if (data == true) {
                            console.log(donneesAction)
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        }
                    },
                    error: function(){
                    }
                })
                setTimeout(function(){
                    $.ajax({
                        url: "  {{ path('set_tour', {game: game.id}) }}",
                        method: 'POST',
                        success: function(data) {
                            console.log('le tour à changé pour offre');
                        },
                        error: function(){
                        }
                    })
                    boucle = setInterval(refreshGame, 3000);
                }, 1500)




        })

    //VALIDATION ECHANGE
    $(document).on('click', '#valider-echange', function() {
        click_echange= 0;
        click_offre=0;
        click_depot=0;

        donneesAction = {

            action: 'echange',
            carte1: $('input[name="carte_echange_'+numE_1+'"]:checked').val(),
            carte2: $('input[name="carte_echange_'+numE_2+'"]:checked').val(),
            carte3: $('input[name="carte_echange_'+numE_3+'"]:checked').val(),
            carte4: $('input[name="carte_echange_'+numE_4+'"]:checked').val()
        }

        $.ajax({
            url: "{{ path('action_game', {game: game.id}) }}",
            data: donneesAction,
            method: 'POST',
            success: function(data) {
                console.log(donneesAction)
                //on refresh le plateau
                if (data == true) {
                    console.log(donneesAction)
                    $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                }

            },
            error: function(){
            }
        })

        setTimeout(function(){
            //et on change le tour après 1,5 sec
            $.ajax({
                url: "  {{ path('set_tour', {game: game.id}) }}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé pour echange');
                },
                error: function(){
                }
            })

            boucle = setInterval(refreshGame, 3000);
        }, 1500)


    })

        //CHOIX POUR OFFRE ET ECHANGE


        $(document).on('click', '#choisir', function() {
            //placer sur plateau moi carte choisie et ajax plateau adv 2 cartes restantes

            donneesAction = {
                action: 'offre_adv',
                carteChoisie : $('input[name="choix_adv_offre"]:checked').val(),
            }

            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    //on refresh le plateau
                    if (data == true) {
                        console.log(donneesAction)

                        //on pioche pour être BIEN SUR d'avoir une nouvelle carte ???
                        //TEST TIMEOUT
                        setTimeout(function(){
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")

                            refreshGame();
                        }, 1000)


                    }

                },
                error: function(){
                }
            })


        })

    $(document).on('click', '#choisir-paire', function() {
        //placer sur plateau moi carte choisie et ajax plateau adv 2 cartes restantes

        donneesAction = {
            action: 'echange_adv',
            PaireChoisie : $('input[name="choix_adv_echange"]:checked').val(),
        }

        $.ajax({
            url: "{{ path('action_game', {game: game.id}) }}",
            data: donneesAction,
            method: 'POST',
            success: function(data) {
                //on refresh le plateau
                if (data == true) {
                    console.log(donneesAction)

                    //on pioche pour être BIEN SUR d'avoir une nouvelle carte ???
                    //TEST TIMEOUT
                    setTimeout(function(){
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")

                        refreshGame();
                    }, 1000)


                }

            },
            error: function(){
            }
        })


    })



    </script>
{% endblock %}

