{% extends 'base.html.twig' %}

{% block body %}

    <div id="plateau">
        {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
    </div>

    <div id="message">...</div>

    <button id="finDeTour">Fin de tour</button>
    <!--<button id="valider-echange">Valider échange</button>-->

{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    <script>

        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);
        })
        $(document).on('click', '#finDeTour', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{{ path('set_tour', {game: game.id}) }}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé');
                },
                error: function(){
                }
            })


            //FIN TEST

            //Bloquer le plateau (overlay, ...)
            //Relancer le timer...
           boucle = setInterval(refreshGame, 3000);
        })

        /*$(document).on('click', '#valider-echange', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{#  {{ path('set_tour', {game: game.id}) }}#}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé pour echange');
                },
                error: function(){
                }
            })

            boucle = setInterval(refreshGame, 3000);
        })*/


        function refreshGame() {
            console.log('ça tourne')
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('#message').html('Tour de votre adversaire')
                        $('#finDeTour').hide()
                        //rafraichir le plateau pour voir ce que mon adversaire fait
                    } else {
                        $('#message').html('C\'est mon tour...')
                        //Piocher une carte

                        $.ajax({
                            url: "{{ path('pioche', {game: game.id}) }}"

                        })


                        //mettre à jour le plateau, dès que je récupère true
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        clearInterval(boucle)
                        console.log('ça tourne plus')
                        $('#finDeTour').show()

                    }
                },
                error: function(){
                }
            });


        }


        /*LES 4 ACTIONS*/

        /*SECRET*/
        let action
        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').show()

        })
        /*FIN SECRET*/

        //DEPOT
        $(document).on('click', '#depot', function(){
            console.log('depot')
            action = 'depot' //mémorise l'action en cours
            $('.choixDepot').show()

        })

        $(document).on('click', 'input[type="radio"]', function(){
            $('#valider').show()
        })

        var click_depot = 0
        var num1= 0
        var num2 = 0
        $(document).on('click', 'input[type="checkbox"]', function (){
            if($(this).is(':checked')){
                click_depot++;

                console.log('nb de click: '+click_depot)

                if(click_depot == 1){
                    num1 = $(this).val()
                    console.log('numero 1 : '+num1)
                }
                console.log(num1)
                if(click_depot == 2){
                    num2 = $(this).val()
                    console.log('numero 2 : '+num2)
                    console.log('carte 1: '+num1)
                    console.log('carte 2: '+num2)

                }
            }else{
                if(click_depot==2){
                    if($(this).val()==num2){
                        num2=0

                    }else{
                        num1=num2
                    }


                    console.log('nouveau numero 1: '+num1)
                }
                click_depot--;
                console.log('nb de click: '+click_depot)


            }

            if(click_depot!=2){
                $('#valider').hide();
            }else{
                $('#valider').show();
            }

        })
        //FIN DEPOT

        //OFFRE
        $(document).on('click', '#offre', function(){
            console.log('offre')
            action = 'offre'
            $('.choixOffre').show()

        })

        //FIN OFFRE

        $(document).on('click', '#valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot': donneesAction = {

                    action: 'depot',
                    carte1: $('input[name="carte_depot_'+num1+'"]:checked').val(),
                    carte2: $('input[name="carte_depot_'+num2+'"]:checked').val()
                }
                    break;
                case 'offre':
                    break;
                case 'echange':
                    break;
            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {

                    if (data == true) {
                        console.log(donneesAction)
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    }
                },
                error: function(){
                }
            })
        })
    </script>
{% endblock %}

