{% extends 'base.html.twig' %}
{% block title %}
    Jeu
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/plateau.css') }}">
    <div id="message">...</div>
        <div id="conteneur">
        <div id="plateau">
            {{ render(controller('App\\Controller\\GameController::refreshPlateauGame', {game:game.id})) }}
        </div>


        </div>




    <!--<button id="finDeTour">Fin de tour</button>-->
    <!--<button id="valider-echange">Valider échange</button>-->

{% endblock %}



{% block javascripts %}
    <script>


    //PARTIE JOUABLILITE
        let boucle
        $(document).ready(function(){
            boucle = setInterval(refreshGame, 3000);
        })
        $(document).on('click', '#finDeTour', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{{ path('set_tour', {game: game.id}) }}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé');
                },
                error: function(){
                }
            })

            //FIN TEST

            //Bloquer le plateau (overlay, ...)
            //Relancer le timer...
           boucle = setInterval(refreshGame, 3000);
        })

        /*$(document).on('click', '#valider-echange', function() {
            //mettre à jour game en changeant quiJoue
            //TEST

            $.ajax({
                url: "{#  {{ path('set_tour', {game: game.id}) }}#}",
                method: 'POST',
                success: function(data) {
                    console.log('le tour à changé pour echange');
                },
                error: function(){
                }
            })

            boucle = setInterval(refreshGame, 3000);
        })*/

        //refresh game sert à surveiller toutes les 3 sec si couplé avec un set interval si c'est mon tour ou pas
        function refreshGame() {
            console.log('ça tourne')
            $.ajax({
                url: "{{ path('get_tour', {game: game.id}) }}",
                success: function(data) {
                    console.log(data)
                    if (data == false) {
                        $('#message').html('Tour de votre adversaire')
                        $('#finDeTour').hide()
                        //rafraichir le plateau pour voir ce que mon adversaire fait
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    } else {
                        $('#message').html('C\'est mon tour...')
                        //Piocher une carte

                        $.ajax({
                            url: "{{ path('pioche', {game: game.id}) }}"

                        })


                        //pour être sur, mettre à jour le plateau, dès que je récupère true
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")

                        clearInterval(boucle)
                        console.log('ça tourne plus')
                        $('#finDeTour').show()

                    }
                },
                error: function(){
                }
            });


        }


        /*LES 4 ACTIONS*/

        /*SECRET*/
        let action
        var selection_secret = false

        $(document).on('click', '#secret', function(){
            console.log('secret')
            action = 'secret' //mémorise l'action en cours
            $('.choixSecret').toggle()
            $('.choixDepot').hide()
            $('.choixOffre').hide()


        })

        $(document).on('click', '.choixSecret', function(){
            $('#valider').show()
        })
        /*FIN SECRET*/

        //DEPOT
        $(document).on('click', '#depot', function(){
            console.log('depot')
            action = 'depot' //mémorise l'action en cours
            $('.choixDepot').toggle()
            $('.choixSecret').hide()
            $('.choixOffre').hide()

        })



        var click_depot = 0
        var num1= 0
        var num2 = 0
        $(document).on('click', '.choixDepot', function (){
            if($(this).is(':checked')){
                click_depot++;

                console.log('nb de click: '+click_depot)

                if(click_depot == 1){
                    num1 = $(this).val()
                    console.log('numero 1 : '+num1)
                }
                console.log(num1)
                if(click_depot == 2){
                    num2 = $(this).val()
                    console.log('numero 2 : '+num2)
                    console.log('carte 1: '+num1)
                    console.log('carte 2: '+num2)

                }
            }else{
                //On décoche une case
                if(click_depot==2){
                    if($(this).val()==num2){
                        num2=0

                    }else{
                        num1=num2
                        num2=0
                    }


                    console.log('nouveau numero 1: '+num1)
                }
                click_depot--;
                console.log('nb de click: '+click_depot)


            }

            if(click_depot!=2){
                $('#valider').hide();
                $('.choixDepot').show()
            }else{
                $('#valider').show();
                $('.choixDepot').hide()
                $('.choixDepot:checked').show()
            }

        })
        //FIN DEPOT

        //OFFRE COTÉ MOI
        $(document).on('click', '#offre', function(){
            console.log('offre')
            action = 'offre'
            $('.choixOffre').toggle()
            $('.choixSecret').hide()
            $('.choixDepot').hide()

        })

        var click_offre = 0
        var numO_1= 0
        var numO_2 = 0
        var numO_3 = 0

        $(document).on('click', '.choixOffre', function (){
            if($(this).is(':checked')){
                click_offre++;

                console.log('nb de click: '+click_offre)

                if(click_offre == 1){
                    numO_1 = $(this).val()
                    console.log('numero 1 : '+numO_1)
                }
                console.log(numO_1)
                if(click_offre == 2){
                    numO_2 = $(this).val()
                    console.log('numero 2 : '+numO_2)
                    console.log('carte 1: '+numO_1)
                    console.log('carte 2: '+numO_2)

                }

                if(click_offre == 3){
                    numO_3 = $(this).val()
                    console.log('numero 3 : '+numO_3)
                    console.log('carte 1: '+numO_1)
                    console.log('carte 2: '+numO_2)
                    console.log('carte 3: '+numO_3)

                }
            }else{
                //Gérer quand on déselectionne un carte

                if(click_offre==3){
                    if($(this).val()==numO_3){
                        numO_3=0

                    }else if($(this).val()==numO_2){
                        numO_2=numO_3
                        numO_3=0
                    }else{
                        numO_1=numO_2
                        numO_2=numO_3
                        numO_3 = 0
                    }


                    console.log('nouveau numero 1: '+numO_1)
                    console.log('nouveau numero 2: '+numO_2)
                    console.log('nouveau numero 3: '+numO_3)
                }

                if(click_offre==2){
                    if($(this).val()==numO_2){
                        numO_2=0

                    }else{
                        numO_1=numO_2
                        numO_2=0
                    }


                    console.log('nouveau numero 1: '+numO_1)

                }
                click_offre--;
                console.log('nb de click: '+click_offre)


            }

            if(click_offre!=3){
                $('#valider-offre').hide();
                $('.choixOffre').show()
            }else{

                $('.choixOffre').hide()
                $('.choixOffre:checked').show()

                $('#valider-offre').show();
            }

        })

        //FIN OFFRE COTÉ MOI

        //OFFRE COTE ADVERSAIRE
        $(document).on('click', '#popup-choix-offre input', function(){
            $('#choisir').show()
        })

        //FIN OFFRE COTE ADVERSAIRE




        //VALIDATION DES ACTIONS
        $(document).on('click', '#valider', function(){
            switch (action) {
                case 'secret':
                    donneesAction = {
                        action: 'secret',
                        carte: $('input[name="carte_secret"]:checked').val()
                    }
                    break;
                case 'depot': donneesAction = {

                    action: 'depot',
                    carte1: $('input[name="carte_depot_'+num1+'"]:checked').val(),
                    carte2: $('input[name="carte_depot_'+num2+'"]:checked').val()
                }
                    break;

                case 'echange':
                    break;
            }
            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {

                    if (data == true) {
                        console.log(donneesAction)
                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                    }
                },
                error: function(){
                }
            })

            setTimeout(function (){
                //on change de tour 1,5 sec arpès avoir fini l\'action
                $.ajax({
                    url: "{{ path('set_tour', {game: game.id}) }}",
                    method: 'POST',
                    success: function(data) {
                        console.log('le tour à changé');
                    },
                    error: function(){
                    }
                })

                boucle = setInterval(refreshGame, 3000);

            }, 1500)
        })


            $(document).on('click', '#valider-offre', function() {
                click_offre = 0;
                donneesAction = {

                    action: 'offre',
                    carte1: $('input[name="carte_offre_'+numO_1+'"]:checked').val(),
                    carte2: $('input[name="carte_offre_'+numO_2+'"]:checked').val(),
                    carte3: $('input[name="carte_offre_'+numO_3+'"]:checked').val()
                }

                $.ajax({
                    url: "{{ path('action_game', {game: game.id}) }}",
                    data: donneesAction,
                    method: 'POST',
                    success: function(data) {
                        //on refresh le plateau
                        if (data == true) {
                            console.log(donneesAction)
                            $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")
                        }
                        //et on change le tour
                        $.ajax({
                            url: "  {{ path('set_tour', {game: game.id}) }}",
                            method: 'POST',
                            success: function(data) {
                                console.log('le tour à changé pour offre');
                            },
                            error: function(){
                            }
                        })

                        boucle = setInterval(refreshGame, 3000);
                    },
                    error: function(){
                    }
                })


        })

        //CHOIX POUR OFFRE ET ECHANGE


        $(document).on('click', '#choisir', function() {
            //placer sur plateau moi carte choisie et ajax plateau adv 2 cartes restantes

            donneesAction = {
                action: 'offre_adv',
                carteChoisie : $('input[name="choix_adv_offre"]:checked').val(),
            }

            $.ajax({
                url: "{{ path('action_game', {game: game.id}) }}",
                data: donneesAction,
                method: 'POST',
                success: function(data) {
                    //on refresh le plateau
                    if (data == true) {
                        console.log(donneesAction)

                        //on pioche pour être BIEN SUR d'avoir une nouvelle carte ???

                        $('#plateau').load("{{ path('refresh_plateau_game', {game:game.id}) }}")

                        refreshGame();

                    }

                },
                error: function(){
                }
            })


        })



    </script>
{% endblock %}

