
{% extends 'base.html.twig' %}




{% block title %}Inscription{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
    <form method="post" action="{{ path('verify_inscription') }}" style="margin-left: 5%" enctype="multipart/form-data">
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        Prénom <input type="text" name="prenom" required><br><br>
        Nom <input type="text" name="nom" required><br><br>
        Email <input type="email" name="email" required><br><br>
        Pseudo <input type="text" name="pseudo" required><br><br>
        Date de naissance <input type="date" name="birthday" required><br><br>
        Mot de passe <input type="password" name="mdp" required><br><br>
        Icône <!--<select name="photo" id="photo">
            <option value="tharuk">Tharuk</option>
            <option value="sofia">Sofia</option>
            <option value="ganormo">Ganormo</option>
        </select><br><br>-->
        <input type="radio" name="photo" value="tharuk" id="tharuk"><img id="img-tharuk" src="{{ asset('img/cartes/tharuk.png') }}" alt="" style="width: 40px">
        <input type="radio" name="photo" value="sophia" id="sofia"><img id="img-sofia" src="{{ asset('img/cartes/sofia.png') }}" alt="" style="width: 40px">
        <input type="radio" name="photo" value="ganormo" id="ganormo"><img id="img-ganormo" src="{{ asset('img/cartes/ganormo.png') }}" alt="" style="width: 40px"><br><br>


        <input type="checkbox" name="checkbox" required><label for="checkbox">&nbsp;J'accepte les termes et les conditions générales d'utilisation de ce site.</label><br><br>
        <input type="submit" value="S'inscrire">
        <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
    </form>
    {% if erreur  %}
        <p>{{ erreur }}</p>
    {% endif %}
{% endblock %}

{% block javascripts %}

    <script src="https://www.google.com/recaptcha/api.js?render=6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x"></script>
    <script type="text/javascript">
        grecaptcha.ready(function(){
            grecaptcha.execute('6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x', {action: 'homepage'}).then(function(token){

                document.getElementById("recaptchaResponse").value = token

            });
        });

        $(document).ready(function(){
            $('input[type="radio"]').hide()
            console.log('ho')
            $('#img-tharuk').click(function(){

                document.getElementById('tharuk').checked=true;
                $('img').css('transform', 'scale(1)')
                $('#img-tharuk').css('transform', 'scale(1.2)')
            })
            $('#img-sofia').click(function(){

                document.getElementById('sofia').checked=true;
                $('img').css('transform', 'scale(1)')
                $('#img-sofia').css('transform', 'scale(1.2)')
            })
            $('#img-ganormo').click(function(){

                document.getElementById('ganormo').checked=true;
                $('img').css('transform', 'scale(1)')
                $('#img-ganormo').css('transform', 'scale(1.2)')
            })


            /*if($('#tharuk').is(':checked'))
            {
                $('#img-tharuk').css('transform', 'scale(1.2)');
            }else{
                $('#img-tharuk').css('transform', 'scale(1)');
            }*/

        })



    </script>


{% endblock %}