


{% extends 'base.html.twig' %}

{% block title %}Vous êtes inscrit !{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/valide.css') }}">
    <div id="valide">
        <h2>Merci de votre inscription, {{ new_user.firstname }} !</h2><br><br>
        <h3>Parcourez la contrée de Toria sous le pseudonyme de <span>{{ new_user.pseudo }} !</span></h3><br><br>
        <p><a id="allez" href="{{ path('app_login') }}">Allez vous connecter !</a></p>
        <br>
        <div id="image"><img src="{{ asset('img/avatars/'~new_user.photo) }}" alt="votre avatar"></div>

    </div>



{% endblock %}