<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <meta name="description" content="Site de jeu The Toria's League. Jeu de cartes en ligne dans un univers médiéval et d'aventures">
        <link rel="icon" type="image/x-icon" href="img/pion.ico">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

                <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
                <link rel="stylesheet" href="{{ asset('css/header.css') }}">
                <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">

                <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">



        {% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        {% block javascripts %}

            <script src="https://unpkg.com/vue@next"></script>


        {% endblock %}
    </head>
    <body>

    <header>
        <div id="nav">
            <nav role="navigation">
                <div id="nav_left">
                    <a href="{{ path('default') }}"><img src="{{ asset('img/logo_jeu.png') }}"></a>

                    <a href="{{ path('default') }}">ACCUEIL</a>
                    <a>|</a>
                    <a href="{{ path('inscription') }}">INSCRIPTION</a>
                    {% if app.user == false %}
                        <a>|</a>
                        <a class="nav-link" href="{{ path('app_login') }}">CONNEXION</a>
                    {% endif %}
                    {% if app.user %}
                        <a>|</a>
                        <a class="nav-link" href="{{ path('deconnexion') }}">DÉCONNEXION</a>
                    {% endif %}
                </div>
                <div id="nav_right">
                    <!--<a href="#">Pseudo</a>-->
                    {% if app.user %}
                        <div id="avatar">
                            <a href="{{ path('user_profil') }}">
                                <!--<img src="{{ asset('img/avatars/'~app.user.photo) }}" alt="votre avatar">-->
                                profil
                            </a>

                        </div>
                    {% endif %}

                </div>
            </nav>
        </div>
    </header>




        {% block body %}


    {% endblock %}


    </body>
</html>
