{% extends 'base.html.twig' %}

{% block title %}Admin - Statistiques{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/chart.min.js"></script>

{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/statistiques.css') }}">

        <h1>STATISTIQUES</h1>
    <div id="statistiques-parties">
        <div id="cont-graph1">
            <canvas id="graph1">

            </canvas>
        </div>
        <div id="cont-graph2">
            <h3 style="color: white; width:300px">Durée moyenne d'une partie :</h3><p style="color: white; width:300px">{{ duree_moy[0] }} min {{ duree_moy[1] }} sec.</p>
        </div>
        <div id="cont-graph3">
            <h3 style="text-align: center; color: white">Top 10</h3><br>
            <ul style="color: white; list-style-type: none">
            {% for user in top10 %}
                <li>{{ loop.index }} {{ user.pseudo }} | {{ user.elo }}</li><br>
            {% endfor %}
            </ul>
        </div>


    </div>

    <script>

        Chart.defaults.color = '#FFFFFF'

        console.log({{ datas }})



            var context = document.getElementById('graph1').getContext('2d')


            var mesDatas = {{ datas }}
            var data= {
                labels: ['Victoire par Mercenaires', 'Victoire par Points de Force'],
                datasets: [
                    {
                        data: mesDatas,//recuperer en json
                        backgroundColor : [
                            '#F6601F',
                            '#F6C41F'


                        ],
                    },

                ]
            };


            var options= [];


            var config = {
                type : 'pie',
                data: data,
                options: options,

            }


            var graph1 = new Chart(context, config)






    </script>

{% endblock %}


