{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }}</h1>
    <h3>Vos parties en cours</h3>

    <!-- affichage des parties en attente-->

        <div class="row">
        {% for game in empty_games|filter(game => game.user1.elo == 1000) %}
            {% if game.user1.id != user.id%}
            <span>Partie créée par {{ game.user1.pseudo }} </span><a href="{{ path('join_game', {game : game.id}) }}">&nbsp;Rejoindre</a><br>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row">
            {% for game in current_games %}
                <div style="background-color: lightgray; margin: 20px">Créée le {{ game.created|format_datetime('short', locale='fr') }}<br>
                    <a href="{{ path('show_game', {game : game.id}) }}">Reprendre</a>
                </div>

            {% endfor %}
        </div>


    <h2><a href="{{ path('new_game') }}">Créer une partie !</a></h2>
    <h2><a href="{{ path('profil_et_stats') }}">Informations personnelles</a></h2>

    <p>Défier un ami:
    <form action="{{ path('search') }}" method="GET">
    <select name="ami" id="ami">
        {% for ami in amis%}
            <option value="{{ ami.id }}">{{ ami.display }}</option>
        {% endfor %}
    </select>
    </form>

    <p>Rechercher un joueur:
        <form action="{{ path('search') }}" method="GET">
        <input type="text" name="searchPseudo" required/>
            <input type="submit" value="chercher">
        </form>





{% endblock %}
