{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }}</h1>
    <h3>Vos parties en cours</h3>

    <!-- affichage des parties en attente-->

        <div class="row">
        {% for game in empty_games|filter(game => game.user1.elo == 1000) %}
            {% if game.user1.id != user.id%}
            <span>Partie créée par {{ game.user1.pseudo }} </span><a href="{{ path('join_game', {game : game.id}) }}">&nbsp;Rejoindre</a><br>
            {% endif %}
        {% endfor %}
        </div>
        <div class="row">
            {% for game in current_games %}
                <div style="background-color: lightgray; margin: 20px">Créée le {{ game.created|format_datetime('short', locale='fr') }}<br>
                    <a href="{{ path('show_game', {game : game.id}) }}">Reprendre</a>
                </div>

            {% endfor %}
        </div>


    <h2><a href="{{ path('create_game') }}">Créer une partie aléatoire</a></h2>
    <h2><a href="{{ path('profil_et_stats') }}">Informations personnelles</a></h2>

    <h3>invitations de mes amis</h3>
    <ul>
        {% for game in parties_invits %}
            <li>{{ game.user1.pseudo }} | <a href="{{ path('show_game', {game : game.id}) }}">Rejoindre</a></li>
        {% endfor %}
    </ul>

    <p>Défier un ami:
    <form action="{{ path('create_game') }}" method="POST">
    <select name="user2" id="user2">
        {% for ami in amis %}
            <option value="{{ ami.id }}">{{ ami.pseudo }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Défier">
    </form>

    <p>Rechercher un joueur:
        <form action="{{ path('search') }}" method="GET">
        <input type="text" name="searchPseudo" required/>
            <input type="submit" value="chercher">
        </form>

    Ils m'ont ajouté en amis : <br>
    {% for demande in demandes_amis %}
        {{ demande.pseudo }} | <a href="{{ path('ajout_ami', {id: demande.id}) }}">Ajouter en ami</a>
    {% endfor %}





{% endblock %}
