{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    <form method="POST" action="{{ path('valide_modifs') }}">
        Nom : <input name="nom" type="text" value="{{ user.lastname }}"><br>
        Prénom : <input name="prenom" type="text" value="{{ user.firstname }}"><br>
        Pseudo : <input name="pseudo" type="text" value="{{ user.pseudo }}"><br>
        Avatar : <img src="{{ asset('img/avatars/'~user.photo) }}" style="width: 50px" alt="votre photo"><br>
        <span id="lien-avatars" style="cursor: pointer; font-weight: bold">Avatars</span>
        <div id="avatars">
            <input type="radio" name="photo" value="tharuk" id="tharuk"><img id="img-tharuk" src="{{ asset('img/avatars/tharuk.png') }}" alt="" style="width: 40px">
            <input type="radio" name="photo" value="sofia" id="sofia"><img id="img-sofia" src="{{ asset('img/avatars/sofia.png') }}" alt="" style="width: 40px">
            <input type="radio" name="photo" value="ganormo" id="ganormo"><img id="img-ganormo" src="{{ asset('img/avatars/ganormo.png') }}" alt="" style="width: 40px">
            <input type="radio" name="photo" value="astralia" id="astralia"><img id="img-astralia" src="{{ asset('img/avatars/astralia.png') }}" alt="" style="width: 40px"><br><br>
            <span id="fermer" style="cursor: pointer; font-weight: bold">Valider</span>
        </div>
        <br>
        Mot de passe : <input type="password" name="mdp"><br>
        <input type="submit" value="Enregistrer les modifications">

    </form>





{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(document).ready(function(){
            $('#avatars').hide();
            $('#lien-avatars').click(function(){
                $('#avatars').show();
            })

            $('#fermer').click(function(){
                $('#avatars').hide();
            })


            $('input[type="radio"]').hide()
            console.log('ho')
            $('#img-tharuk').click(function(){

                document.getElementById('tharuk').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-tharuk').css('transform', 'scale(1.2)')
            })
            $('#img-sofia').click(function(){

                document.getElementById('sofia').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-sofia').css('transform', 'scale(1.2)')
            })
            $('#img-ganormo').click(function(){

                document.getElementById('ganormo').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-ganormo').css('transform', 'scale(1.2)')
            })

            $('#img-astralia').click(function(){

                document.getElementById('astralia').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-astralia').css('transform', 'scale(1.2)')
            })


            /*if($('#tharuk').is(':checked'))
            {
                $('#img-tharuk').css('transform', 'scale(1.2)');
            }else{
                $('#img-tharuk').css('transform', 'scale(1)');
            }*/

        })



    </script>


{% endblock %}
