{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Informations personnelles et statistiques</h1>
    Vous trouverez ici vos informations personnelles et l'historique de vos parties. <br><br>
    <!-- affichage des parties en attente-->

    <div class="row">

        <div class="col-6">
            <p>Nombre de parties terminées : {{ parties|length }}</p>
            <p>Victoires : </p>
            <span>Avec mercenaires : </span><span>Avec points : </span>
            <p>Défaites : </p>
            <p>Adversaires rencontrés : {{ adversaires|length }}</p>


        </div>
        <div class="col-6">
            <p>Nom : {{ user.lastname }}</p>
            <p>Prénom : {{ user.firstname }}</p>
            <p>Pseudo : {{ user.pseudo }}</p>
            <p><img src="{{ asset('img/avatars/'~user.photo) }}" alt="avatar" style="width: 100px"></p>
            <p>Inscription : {{ user.inscription|format_datetime('short', 'none', locale='fr') }}</p>
            <p>Dernière connexion : {{ user.derniereConnexion|format_datetime('short', locale='fr') }}</p>
            <p>Classement elo : {{ user.elo }}</p>
            <a href="{{ path('modifier') }}">Modifier</a>
        </div>
    </div>
    <h3>Parties terminées</h3>
    {% for partie in parties %}
        <div style="background-color: lightgray" class="row">
            &nbsp;&nbsp;&nbsp;&nbsp;Contre&nbsp;
            {%  if user.pseudo == partie.user1.pseudo %}
                <span>{{ partie.user2.pseudo }}&nbsp;|&nbsp;</span>
                <span>{{ partie.user2.elo }} elo</span>
                {% else %}
                <span>{{ partie.user1.pseudo }}&nbsp;|&nbsp;</span>
                    <span>{{ partie.user1.elo }} elo</span>

            {% endif %}
            <span>&nbsp;|&nbsp;le {{ partie.ended|format_datetime('short', 'none', locale='fr') }}</span>
        </div><br>
    {% endfor %}



{% endblock %}
