{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">

    <section id="profil">
        <h1>MON PROFIL</h1>
        <div id="profil_infos">
            <div id="profil_stats">
                <h2>STATISTIQUES</h2>
                <div id="nbParties">
                    <span>Nombre de parties terminées : {{ parties|length }}</span>
                    <span></span>
                </div>
                <h2>TABLEAU DES SCORES</h2>
                <div id="nbVictoires">
                    <div id="victoires">
                        <span>Victoires :</span>
                        <span>{{ parties_gagnees|length }}</span>
                    </div>
                    <div id="typeVictoire">
                        <div id="victoirePoints">
                            <span>Par points :</span>
                            <span>{{ win_points|length }}</span>
                        </div>
                        <div id="victoireMerce">
                            <span>Par mercenaires :</span>
                            <span>{{ win_mercenaire|length }}</span>
                        </div>
                    </div>
                </div>
                <div id="nbDefaites">
                    <span>Défaites : {{ parties_perdues|length }}</span>

                </div>
                <div id="nbAdv">
                    <span>Nombre d'adversaires affrontés : {{ adversaires|length }}</span>
                    <span></span>
                </div>
            </div>
            <div id="profilGrandediv">
                <div id="profil_infosPerso">
                    <div id="profil_infosJoueur">
                        <div id="infos_joueur">
                            <div id="nomPrenom">
                                <span>{{ user.firstname }}</span>&nbsp;
                                <span>{{ user.lastname }}</span>
                            </div>
                            <p>{{ user.pseudo }}</p>
                        </div>
                        <div id="profilAvatar">
                            <img src="{{ asset('img/avatars/'~user.photo) }}" alt="votre avatar">
                        </div>
                    </div>

                    <div id="profilInscription">
                        <span>Date d'inscription :</span>
                        <span>{{ user.inscription|format_datetime('short', 'none', locale='fr') }}</span>
                    </div>
                    <div id="profilLast_co">
                        <span>Dernière connexion :</span>
                        <span>{{ user.derniereConnexion|format_datetime('short', locale='fr') }}</span>
                    </div>
                    <div id="profilClassement">
                        <span>Classement :</span>
                        <span>{{ user.elo }} elo</span>
                    </div>
                </div>
                <button id="btnModifierProfil"><a href="{{ path('modifier') }}">MODIFIER</a></button>
            </div>

        </div>

        <div id="classement">
            <div id="tableau_titre">
                <span id="titre_joueur">Joueur</span>
                <span id="titre_classement">Classement</span>
                <span id="titre_resultat">Résultats</span>
                <span id="titre_victoire">Type de victoire</span>
                <span id="titre_date">Date</span>
            </div>

            <div id="tableau_contenu">

                {% for partie in parties %}

                    <div class="tableau_ligne">
                        {% if user.id == partie.user1.id %}
                            <span>{{ partie.user2.pseudo }}</span>
                            <span>{{ partie.user2.elo }}</span>
                        {% else %}
                            <span>{{ partie.user1.pseudo }}</span>
                            <span>{{ partie.user1.elo }}</span>
                        {% endif%}
                        {% if partie.winner.id == user.id %}
                        <span>Vitoire</span>
                            {% else %}
                        <span>Défaite</span>
                        {% endif %}

                        {% if partie.typeVictoire == 'Mercenaire' %}
                        <span>Mercenaires</span>
                            {% else %}
                        <span>Points</span>
                        {% endif %}
                        <span>{{ partie.ended|format_datetime('short', 'none', locale='fr') }}</span>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
